/*  Animations  */

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes swipe-and-fade-from-left {
    from {
        transform: translateX(-50vw);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}