/*  Hero Section  */

#hero {
    @include flex(center, center, row);
    min-height: 100vh;
    flex-wrap: wrap;
    overflow: hidden;
}

.hero-image {
    min-height: 100vh;
    object-fit: cover;
    flex: 1 1 40rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
        url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.hero-text {
    min-height: 100vh;
    @include flex(center, start, column);
    flex: 3 1 40rem;
    padding-left: 5rem;
    background: $color-2;

    h1,
    h3 {
        animation: swipe-and-fade-from-left 1.5s ease-out 0.5s forwards;
        opacity: 0;
    }

    h1 {
        font-family: "Pattaya", sans-serif;
        font-weight: bold;
        color: $color-4;
        padding-bottom: 1rem;
    }

    h3 {
        font-family: "Pattaya", sans-serif;
        font-weight: bold;
        color: $color-4;
    }

    ul {
        display: flex;
        flex-direction: row;
        animation: fade 1s ease-in-out 2s forwards;
        opacity: 0;

        li {
            padding-right: 8.9rem;
        }

        img {
            height: 5rem;
        }
    }
}
