/*  Media Queries  */

@media screen and (max-width: 1330px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 1010px) {
    /*  Global  */

    html {
        font-size: 45%;
    }

    body {
        scroll-snap-type: initial;
    }

    section {
        scroll-snap-align: initial;
    }

    /*  Font Sizes  */

    h1 {
        font-size: calc(#{$header1-mobile} + 1vw);
    }

    h2 {
        font-size: calc(#{$header2-mobile} + 1vw);
    }

    h3 {
        font-size: calc(#{$header3-mobile} + 1vw);
    }

    h4,
    h5 {
        font-size: calc(#{$header4-mobile} + 1vw);
    }

    li,
    button,
    label,
    input,
    p,
    a {
        font-size: calc(#{$text-mobile} + 1vw);
    }

    /*  Misc.  */

    .hero-image {
        display: none;
    }

    .section-header {
        @include flex(center, center, column);
        flex: 1 1 10rem;
        min-height: 10vh;
        width: 100%;
        padding: 0;
    }

    /*  Hero Section  */

    #hero {
        justify-content: left;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.95)),
            url(../img/hero.jpg);
        background-position: center;
        background-size: cover;
    }

    .hero-container {
        width: 100vw;
        background: none;
    }

    .hero-text {
        background: none;
        position: relative;
        top: 25vh;
    }

    /*  Projects Section  */

    #projects {
        @include flex(center, center, column);
    }

    .projects-header {
        h2 {
            text-align: center;
        }
    }

    .projects-content {
        @include flex(center, center, row);
        flex: 50 1 40rem;
        flex-wrap: wrap;
        min-height: 90vh;
        overflow-y: initial;
        min-height: fit-content;
    }

    .project-card {
        flex: 1 1 45rem;
        height: 30rem;
        justify-self: center;
        max-width: 45rem;
    }
}
