/*  Navigation Bar  */

nav {
    position: absolute;
    top: 3%;
    right: 1%;
    width: 30rem;

    ul {
        @include flex(space-around, center, row);
    }

    li {
        color: white;
    }
}
