/*  Variables  */
/*  Mixin's  */
/*  Imports  */
/*  Global Styles  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body {
  font-family: "Montserrat", sans-serif;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
}

h1 {
  font-size: 8rem;
  color: #333;
}

h2 {
  font-size: 8rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2rem;
}

li,
button,
label,
input,
p,
a {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.section-header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  min-height: 100vh;
}

/*  Navigation Bar  */
nav {
  position: absolute;
  top: 3%;
  right: 1%;
  width: 30rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav li {
  color: white;
}

/*  Hero Section  */
#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.hero-image {
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(transparent)), url("../img/hero.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent), url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.hero-text {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
  padding-left: 5rem;
  background: #1b2a49;
}

.hero-text h1,
.hero-text h3 {
  -webkit-animation: swipe-and-fade-from-left 1.5s ease-out 0.5s forwards;
          animation: swipe-and-fade-from-left 1.5s ease-out 0.5s forwards;
  opacity: 0;
}

.hero-text h1 {
  font-family: "Pattaya", sans-serif;
  font-weight: bold;
  color: white;
  padding-bottom: 1rem;
}

.hero-text h3 {
  font-family: "Pattaya", sans-serif;
  font-weight: bold;
  color: white;
}

.hero-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-animation: fade 1s ease-in-out 2s forwards;
          animation: fade 1s ease-in-out 2s forwards;
  opacity: 0;
}

.hero-text ul li {
  padding-right: 8.9rem;
}

.hero-text ul img {
  height: 5rem;
}

/*  About Section  */
#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #7a6757;
}

.about-header {
  background: #7a6757;
  padding-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-header h2 {
  font-family: "Pattaya", sans-serif;
  font-weight: bold;
  color: white;
  text-align: start;
  display: table-caption;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 10;
      -ms-flex: 10 1 40rem;
          flex: 10 1 40rem;
  min-height: 100vh;
  background: #594739;
  color: white;
}

.about-content li {
  text-align: justify;
  margin-top: 0.5rem;
}

.about-content img {
  margin-top: 5rem;
  border-radius: 50%;
  height: 30rem;
}

.about-text {
  width: 90%;
  margin: auto;
}

/*  Projects Section  */
#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
  background: #1b2a49;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #1b2a49;
  padding-right: 5rem;
  min-height: 100vh;
}

.projects-header h2 {
  font-family: "Pattaya", sans-serif;
  font-weight: bold;
  color: white;
  text-align: start;
}

.projects-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 50;
      -ms-flex: 50 1 40rem;
          flex: 50 1 40rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  background: #27496d;
  color: white;
  overflow-y: scroll;
}

.project {
  margin: 5rem;
  height: 35rem;
  max-width: 50rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1b2a49;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
}

.project a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project a h4 {
  text-align: center;
  margin: 2.3rem 0.5rem;
}

.project a img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 20%;
}

.project:hover, .project:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
}

/*  Animations  */
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes swipe-and-fade-from-left {
  from {
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes swipe-and-fade-from-left {
  from {
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/*  Media Queries  */
@media screen and (max-width: 1330px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 1010px) {
  /*  Global  */
  html {
    font-size: 45%;
  }
  body {
    -ms-scroll-snap-type: initial;
        scroll-snap-type: initial;
  }
  section {
    scroll-snap-align: initial;
  }
  /*  Font Sizes  */
  h1 {
    font-size: calc(5rem + 1vw);
  }
  h2 {
    font-size: calc(4.5rem + 1vw);
  }
  h3 {
    font-size: calc(2rem + 1vw);
  }
  h4,
  h5 {
    font-size: calc(1.3rem + 1vw);
  }
  li,
  button,
  label,
  input,
  p,
  a {
    font-size: calc(1.3rem + 1vw);
  }
  /*  Misc.  */
  .hero-image,
  nav {
    display: none;
  }
  .section-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10rem;
            flex: 1 1 10rem;
    min-height: 10vh;
    width: 100%;
    padding: 0;
  }
  /*  Hero Section  */
  #hero {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.95))), url(../img/hero.jpg);
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.95)), url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
  }
  .hero-text {
    width: 100vw;
    background: none;
    position: relative;
    top: 25vh;
  }
  .hero-text ul li {
    padding-right: 6rem;
  }
  /*  About Section  */
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-height: 90vh;
    width: 100vw;
    padding: 0 5vw;
  }
  .about-content img {
    height: 25rem;
  }
  /*  Projects Section  */
  #projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-header h2 {
    text-align: center;
  }
  .projects-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 90vh;
    overflow-y: initial;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .project {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45rem;
            flex: 1 1 45rem;
    height: 30rem;
    -ms-grid-column-align: center;
        justify-self: center;
    max-width: 45rem;
  }
}

@media screen and (max-width: 550px) {
  .hero-text ul li {
    padding-right: 4rem;
  }
  .about-content img {
    height: 25rem;
  }
}

@media screen and (max-height: 700px) {
  .about-content img {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */